* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

h1{
    font-size: 6vh;
}

p{
    font-size: 3vh;
    width: 80%;
    height: auto;
    padding-top: 1%;
}

h2{
    display: flex;
    font-size: 4vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 1%;
   
}

nav{
    font-size: 3vh;
}


.meusFavoritos{
    text-align: center;
    font-size: 6vh;
    color: #ED145D;
}

.menuzinho{
    font-size: 3vh;
      display: flex;
      gap: 3%;
    padding-top: 3%;
}

ul{
     margin: 5vh;
}

