
h1{
    font-size: 6vh;
 
}

p{
    font-size: 3vh;
}

h2{
    font-size: 4vh;
}

nav{
    font-size: 3vh;

}


.meusFavoritos{

    text-align: center;
  
    font-size: 6vh;
    background-color: #ED145D;
}

.menuzinho{
    font-size: 3vh;

}

ul{
    margin: 4vh;
  
}